@charset "UTF-8";

body {
    background-color: rgba(89, 83, 163, 0.553);
    text-align: center;
    font-size: x-large;
    font-family: 'Anton', sans-serif;
}
.Titulo {
    color: rgba(0, 0, 0, 0.717);
}

header {
    text-align: center;
}

.centro {
    text-align: center;
}
.container {
    position: absolute;
    size: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}
.irma1:hover {
    color: rgba(20, 20, 87, 0.221); 
}

