@charset "UTF-8";

body {
    background-color: rgba(114, 113, 146, 0.502);
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
}

header {
    text-align: center;
}

.centro {
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}