@charset "UTF-8";

body {
    background-color: rgba(68, 5, 5, 0.954);
    text-align: center;
}

h1 {
    color: rgba(54, 39, 223, 0.717);
}

header {
    text-align: center;
}

.centro {
    text-align: center;
}
.centro-foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}