@charset "UTF-8";

body {
    background-color: rgb(240, 222, 190);
    ruby-align: center;
    text-align: center;
}

h1 {
    color: rgb(87, 8, 8);
}
h1.Esse-vai-ser-azul {
    color: rgb(24, 13, 128);
}

